.qa-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.qa-tooltip .qa-tooltip-text {
    width: 250px;
    color: white;
    background-color: #858585;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: 70%;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.qa-tooltip .qa-tooltip-text::after {
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #858585 transparent;
}

.qa-tooltip:hover .qa-tooltip-text {
    visibility: visible;
    opacity: 1;
}